.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 100vh;
}

.inputDiv {
  display: flex;
  gap: 0.5vw;
}

.input {
  width: 20vw;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: 0;
  border-radius: 50%;
  /* padding: 5vw; */
}

.msg {
  width: 90vw;
  overflow-y: scroll;
  height: 75%;
  /* scrollbar-color: #007 #bada55; */
}

@media (max-width: 600px) {
  .input {
    width: 70vw;
  }
}