.main {
  margin-top: 5vh;
  margin-left: 3vw;
}

.link {
  color: black;
  text-decoration: none;
}

.cardsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vh;
  width: 100vw;
}

@media (max-width: 600px) {
  .cardsDiv {
    width: 90vw;
    justify-content: center;
    /* align-items: center; */
  }
}